
include _assets/includes/head

  body

    include _assets/includes/navigation

    .wrapper

      .main

        aside
          block sidebar

        section.content.clear
          .grid
            include _assets/includes/contract

    include _assets/includes/footer
