
include _assets/includes/head

  body

    include _assets/includes/navigation

    .wrapper

      .main

        aside
          block sidebar

        section.content.clear
          .grid
            include _assets/includes/slider
            include _assets/includes/about
            include _assets/includes/portfolio
            include _assets/includes/team
            include _assets/includes/services
            include _assets/includes/clients
            include _assets/includes/contact

    include _assets/includes/footer
