
$sidebar-width = 340px

.inner
  max-width: 1210px
  width: 80%
  margin: 0 auto
.wrapper
    display: table
    height: 100%
    width: 100%
  .main
      display: table-row
      height: 100%
    aside
        display: table-cell
        min-width: $sidebar-width
        width: $sidebar-width
        background-color: pink
    section.content
        display: table-cell
        width: 100%
        background-color: green
.grid
  max-width: 1000px
  margin: 0 auto
