
border-radius(n)
  border-radius: n

gradient(origin, start, stop)
  background-color: start
  background-image: linear-gradient(origin, start, stop)

drop-shadow(inset, x, y, blur, spread, alpha)
  box-shadow: inset x y blur spread alpha
