
section#contract
  .inner
    block contract-headline
    article.summary
      block contract-summary
    article.details
      block contract-details
    article.legal
      block contract-legal
    article.copyrights
      block contract-copyrights
    article.payments
      block contract-payments
