
section#services
  .inner
    block services-headline
    article#print
      .overlay
      .text
        block service1
      span.icon-print
    article#identity
      .overlay
      .text
        block service2
      span.icon-identity
    article#computer
      .overlay
      .text
        block service3
      span.icon-computer
    article#illustration
      .overlay
      .text
        block service4
      span.icon-paintbrush
