
section#slider
	.flexslider.carousel
		ul.slides
			li
				.inner
					.text
						block slide1
						.btnBox
							a.btn.alt.fancybox(href="#hayescd") Check it out
					img(src="/_assets/images/slider-hayes.jpg" alt="Hunter Hayes cd packaging design" title="Hunter Hayes, I Want Crazy album design")
			li
				.inner
					div.text.two-lines
						block slide2
						div.btnBox
							a#slider-services-link.btn.alt(href="#services") Check it out
					img(src="/_assets/images/slider-motorcycle.jpg" alt="Anybody can jump a motorcycle." title="Anybody can jump a motorcycle.")
	a#slider-about-link.scroll(href="#about") Scroll Down
