
section#portfolio
	div#options
		margin-bottom: 60px
	ul#filters li
		display: inline-block
		margin: 0 2px
	a.portfolio-item
		width: 24%
		height: 275px
		display: inline-block
		margin: 0 0.1% 1px
		position: relative
		overflow: hidden
		transition: all 400ms ease
		img
			width: 100%
			transition: all 8000ms ease
		div.overlay
			position: absolute
			top: 0
			bottom: 0
			width: 100%
			opacity: 0
			background-color: $black
			transition: all 400ms ease
		div.text
			position: absolute
			opacity: 0
			width: 100%
			font-size: 1em
			text-align: center
			color: $white
			padding: 35% 0 0
			transition: all 400ms ease
		p.project-title
			$primary-font($font-weight-bold)
			text-transform: uppercase
			letter-spacing: 1px
			color: $white
			&:after
				content: ""
				border-bottom: 4px solid $pink
				width: 67px
				display: block
				margin: 16px auto
		p.project-details
			$primary-font($font-weight-light)
			color: $white
			padding: 0 20%
		&:hover
			div.overlay
				opacity: 0.4
			div.text
				opacity: 1
			img
				width: 200%
				margin: -50% 0 0 -50%
